body {
    text-align: center;
}
h1{
    color: red;
    font-size: 100px;
}
p{
    color: blue;
    font-size: 100px;
}
ul *{
    color: green;
}

.btn {
    padding: 50px;
}

form {
    border-left: 10px;
    align-items: flex-start;
    text-align: start;
}

button .iphone {
    text-align: center;
}

